:root {
    --clr-primary : #374151;
    --clr-secondary: #1F2937;
    --clr-accent: #0042ad;
    --col-gap : 20px;
    --row-gap : 20px;
}

#mlm_location_details input, 
#mlm_location_details textarea, 
#mlm_location_details form { max-width: 100%; width: 100%; }

#mlm_location_details .c-row {
    row-gap: var(--row-gap); column-gap: var(--col-gap);
}

.c-row { 
    --cols: 1;
    display: flex; flex-wrap: wrap;
}

.c-col {
    max-width: calc( ( 100% / (var(--cols) )  - calc(var(--col-gap)/var(--cols))) );

    .is--half {
        --cols : 2;
    }

    .is--half {
        
    }

}

